:root {
  --ice-water: hsl(139, 78%, 86%);
  --orinoco: hsl(87, 87%, 93%);
  --logan: hsl(241, 21%, 83%);
  --mulled-wine: hsl(241, 36%, 65%);
  --black-currant: hsl(241, 21%, 21%);
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  color: hsl(241, 21%, 21%);
  font-family: IBM Plex Sans, sans-serif;
}

code {
  color: hsl(139, 39%, 43%);
  font-family: IBM Plex Mono, monospace;
  font-size: 0.875em;
}

/* - */
/* - */
/* - */

.content {
  margin: 1.5rem auto;
  max-width: 48rem;
}

.section {
  -webkit-clip-path: polygon(
    0 0.75rem,
    100% 0,
    100% calc(100% - 0.75rem),
    0 100%
  );
  clip-path: polygon(0 0.75rem, 100% 0, 100% calc(100% - 0.75rem), 0 100%);
  padding: 5% 1.5rem;
}

.section:nth-child(2n + 1) {
  background-color: hsl(87, 87%, 93%);
}

/* - */
/* - */
/* - */

.splash {
  background: hsl(87, 87%, 93%) url(/pentagon.png);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.75rem), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.75rem), 0 100%);
  text-align: center;
  padding: 5% 1.5rem;
}

.splash h1 {
  font: 4.5em/1.5 Unlock, cursive;
}

.splash h1 a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .splash h1 {
    font-size: 6em;
  }
}

.splash h1 + p {
  font-size: 1.5em;
  margin: 5% 0 0.75rem;
}

/* - */
/* - */
/* - */

.code code {
  background-color: hsla(139, 78%, 86%, 0.125);
  display: inline-block;
  padding: 1.5em 2.125em;
}

.code .verb {
  color: hsl(270, 30%, 15%);
}

.code .url {
  color: hsl(203, 78%, 46%);
}

.code .json {
  color: hsl(0, 78%, 46%);
}

/* - */
/* - */
/* - */

.content h2 {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.content h3 {
  font-size: 1.15em;
  font-weight: bolder;
}

.content h2 a {
  color: inherit;
}

.content > * + * {
  margin-top: 1.5rem;
}

.content > h2 + *,
.content > * + h3 {
  margin-top: 2.25rem;
}

.content ol,
.content ul {
  padding-left: 1rem;
}

.content li ul,
.content li ol,
.content li + li {
  margin-top: 0.75rem;
}

.content ul {
  list-style: circle;
}

.content ol {
  list-style: lower-latin;
}

.content a {
  color: hsl(139, 78%, 43%);
}

.content p a {
  text-decoration: underline;
}

/* - */
/* - */
/* - */

table {
  border: 1px solid gainsboro;
  font-size: 0.875em;
  width: 100%;
}

th,
td {
  border: 1px solid gainsboro;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
}

/* - */
/* - */
/* - */

.footer {
  background-color: hsl(241, 21%, 21%);
  bottom: 0;
  color: hsl(241, 21%, 83%);
  position: sticky;
  padding: 1.5rem;
  text-align: center;
}

@media (min-width: 375px) {
  .footer {
    padding: 3rem;
  }
}

.footer .content {
  margin: 0 auto;
}

.footer a {
  color: hsl(241, 36%, 65%);
  text-decoration: underline;
}
